* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
    background-color: #f8f8f8;
}

/* Cabeçalho */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    background-color: #ffffff;
    width: 100%;
}

.header-content {
    max-width: 850px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#logo {
    max-width: 75px;
    max-height: 75px;
    align-self: center;
}

h1,
p {
    margin: 10px 0;
    text-align: center;
}

nav {
    margin-left: 2rem;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 15px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    padding: 5px 15px;
    display: inline-block;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Seções */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 20px auto;
    background: #999999;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 850px;
    width: 100%;
    color: white;
    text-align: center;
}

section h2 {
    margin-bottom: 10px;
}

section p {
    margin-bottom: 20px;
}

section img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 5px;
}

/* Ajuda */
#ajuda {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.quadro-ajuda {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    height: 200px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.quadro-ajuda h3 {
    margin: 0;
    text-align: left;
    color: #333;
}

.quadro-ajuda ul {
    list-style-type: disc;
    padding-left: 20px;
    margin: 0;
}

.quadro-ajuda li {
    margin-bottom: 5px;
    color: #333;
}

/* Vantagens */
#vantagens {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#vantagens ul {
    padding: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    list-style-type: none;
}

#vantagens ul li {
    display: flex;
    align-items: center;
    margin: 5px 10px;
    position: relative;
}

#vantagens li {
    width: calc(50% - 10px);
    margin: 5px 0;
    display: flex;
    flex-direction: column;
}

#vantagens li h3 {
    color: #333;
    margin: 0;
}

#vantagens li p {
    color: #333;
    margin-top: 5px;
}

/* Vantagens e Funcionalidades*/
#vantagens,
#funcionalidades {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 10px;
}

.quadro {
    background-color: white;
    color: #333;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: calc(50% - 10px);
    padding: 15px;
}

.quadro h3 {
    margin-top: 0;
    text-align: center;
}

/* Rodapé */
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #999999;
    color: white;
}

#integrantes {
    text-align: center;
}

.foto-integrante {
    aspect-ratio: 1/1;
    width: 50%;
    max-width: 500px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Ícone do LinkedIn */
.linkedin-icon i {
    font-size: 48px;
    color: #0A66C2;
    transition: color 0.3s;
}

.linkedin-icon i:hover {
    color: #004182;
}

/* Botões */
button {
    background-color: #B22222;
    color: white;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 15px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    max-width: 250px;
    transition: background-color 0.3s, border-color 0.3s;
}

button:hover {
    background-color: #8B0000;
    border-color: #555;
}


.evento {
    background-color: white;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 850px;
}

.evento h3 {
    color: #B22222;
    margin-top: 0;
}

.evento p {
    margin: 5px 0;
}

/* Estilos adicionais para o formulário */
.grupo-formulario {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
}

select,
textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    /* Borda padrão */
    border-radius: 5px;
    /* Bordas arredondadas */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* Sombra leve */
}

textarea {
    height: 150px;
    width: 300px;
    resize: none;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.botao-funcao {
    background-color: #B22222;
    /* Cor de fundo do botão */
    color: white;
    /* Cor do texto do botão */
    transition: background-color 0.3s;
    /* Efeito de transição ao passar o mouse */
}

.botao-funcao:hover {
    background-color: #8B0000;
    /* Cor do botão ao passar o mouse */
}



/* Responsividade */
@media (max-width: 900px) {
    header {
        padding: 20px;
    }

    #logo {
        max-width: 65px;
        max-height: 65px;
    }

    h1 {
        font-size: 1.8em;
    }

    section {
        max-width: 90%;
        padding: 15px;
    }

    .quadro-ajuda {
        width: 50%;
    }

    .quadro {
        width: 80%;
        margin: 0 auto;
    }
}

@media (max-width: 600px) {
    header {
        padding: 15px;
        flex-direction: column;
        align-items: center;
    }

    #logo {
        max-width: 55px;
        max-height: 55px;
    }

    h1 {
        font-size: 1.5em;
    }

    section {
        padding: 10px;
    }

    .evento {
        padding: 10px;
    }
}